<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div
            x-data
            x-show="$store.updateModal.isOpen"
            x-transition
            class="fixed inset-0 z-[999] flex items-center justify-center bg-black/60 p-4"
            style="display: none"
            x-cloak
        >
            <div class="flex min-h-screen items-start justify-center px-4" @click.self="$store.updateModal.closeModal()">
                <div
                    class="panel animate__animated my-8 w-full max-w-lg overflow-hidden rounded-lg border-0 p-0"
                    :class="$store.app.rtlClass === 'rtl' ? 'animate__fadeInLeft' : 'animate__fadeInRight'"
                >
                    <div class="flex items-center justify-between bg-[#fbfbfb] px-5 py-3 dark:bg-[#121c2c]">
                        <h5 class="text-lg font-bold">
                            <span x-text="$store.i18n.t('update_model')"></span>
                        </h5>
                        <button @click="$store.updateModal.closeModal()" class="text-white-dark hover:text-dark">✕</button>
                    </div>
                    <div class="p-5">
                        <div class="text-base font-medium text-[#1f2937] dark:text-white-dark/70">
                            <div class="overflow-hidden">
                                <!-- form grid -->
                                <div class="grid grid-cols-1 gap-5">
                                    <input
                                        type="text"
                                        :placeholder="$store.i18n.t('enter_model_name')"
                                        class="form-input"
                                        x-model="$store.global.sharedData.fullname2"
                                    />
                                </div>

                                <div class="mt-8 flex items-center justify-end">
                                    <button @click="$store.updateModal.closeModal()" class="btn btn-outline-danger">
                                        <span x-text="$store.i18n.t('cancel')"></span>
                                    </button>
                                    <button type="submit" @click="$store.updateModal.confirmUpdate()" class="btn btn-primary ltr:ml-4 rtl:mr-4">
                                        <span x-text="$store.i18n.t('update')"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
